<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
		 bootstrap="tests/phpunit/bootstrap.php"
		 backupStaticAttributes="false"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
>
	<testsuites>
		<testsuite name="Plugin Test Suite">
			<directory prefix="" suffix="Test.php">tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>