.demovox {
	@import "../../node_modules/bootstrap/scss/functions";
	@import "../../node_modules/bootstrap/scss/variables";
	@import "../../node_modules/bootstrap/scss/mixins";

	@import "../../node_modules/bootstrap/scss/grid";
	@import "../../node_modules/bootstrap/scss/tables";

	// Bootstrap fix
	.table th, .table td {
		padding: 0.5rem;
		border-top: 0;
	}

	.pdf-iframe {
		height: 80vh;
		width: 100%;
		overflow: auto;
		display: none;
	}

	.error {
		color: red;
		font-weight: bold;
	}

	.success {
		color: green;
		font-weight: bold;
	}
}